body,html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

#topbar{
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	height: 16%;
	 background-color: black;
     /*background: linear-gradient(to right, #232526,#414345);*/
     color: white;
	z-index: 1;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    text-align: center;
    font-family: verdana;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
#one {
	position: relative;
	top: 0px;
	margin: 0px;
	padding: 0px;
     height: 100%;
     width: 100%;
      background-color: black;
      background: linear-gradient(to right,  #aa076b, #61045f);
       opacity: 0.9;
}

#two {
	position: relative;
    background: linear-gradient(to right, #cc2b5e,#753a88);
	top: 0px;
	margin: 0px;
	padding: 0px;
     height: 100%;
     width: 100%;
     color: white;
}
#three {
	position: relative;
    background: linear-gradient(to right, #642B73,#C6426E);
	top: 0px;
	margin: 0px;
	padding: 0px;
     height: 100%;
     width: 100%;
    color: white;
}
#child{
	position: absolute;
	top: 40%;
	right: 10%;
	height: 35%;
	width: 35%; 
     background-color:#000000;
     color: #E0E0E0;
    text-align: center;
    font-family: verdana;);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 6px 6px #101010;
}
#child:hover{
	box-shadow: 0px 0px 0px 0px #888888;
}
#addicts:hover{
	box-shadow: 0px 0px 0px 0px #888888;
}
#addicts{
	position: absolute;
	top: 40%;
	left: 10%;
	height: 35%;
	width: 35%;
	 background-color: #000000;
     color: #E0E0E0;
	text-align: center;
    font-family: verdana;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 6px 6px #101010;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#para, .overlay a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
p{
    color: black;
    text-align: center;
    font-size: 20px;
}
textarea{
    align-self: center;
}
#contain{
    padding-top: 10%;
}
a {color:#E0E0E0;
text-decoration: none;}     
a:visited {color:#E0E0E0;}  
a:hover {color:#E0E0E0;}  
a:active {color:#E0E0E0;}  
h3{
    text-align: center;
    font-size: 30px;
    color: black;
}
#form{
    vertical-align: middle;
}
#list{
    vertical-align: middle;
}